header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#name {
    flex: 1;
    text-align: center;
}

#header-links {
    display: flex;
    align-items: center;
}

#header-links a {
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
}

nav {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ddd;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
