table {
    border-collapse: collapse;
    float: right;
    width: 75%; /* adjust as needed */
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  input:focus {
    background-color: #f2f2f2;
}
  
  th {
    background-color: #0a0e30;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  img {
    width: 100px;
    height: 100px;
  }
  
  a {
    color: rgb(255, 0, 0);
    text-decoration: none;
  }
  header {
    background-color: #3f51b5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  #name {
    margin-left: 20px;
  }
  
  #header-links {
    margin-right: 20px;
    text-align: right;
  }
  
  #header-links a {
    color: white;
    margin-left: 10px;
  }
  
  nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  nav a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
  }
  
  .badge {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 50%;
    position: relative;
    top: -3px;
    right: -10px;
}

.img-link:hover {
  border: 2px solid #ff0000;
  transition: all 0.5s ease;
}

[required] {
  border: 2px solid red; /* Add a red border to required fields */
}
[required]:focus {
  background-color: #ffc; /* Change the background color on focus */
}

#user-info {
  float: left;
  width: 20%;
  padding: 20px;
  background-color: #6e3535;
  text-align: center;
}
#user-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
}

.breadcrumb li {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.breadcrumb li::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ddd;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}

.breadcrumb li:last-child::before {
  display: none;
}

.breadcrumb li a {
  color: #333;
  text-decoration: none;
}

.CP-Step {
  background-color: #ddd;
}

.CR-Step {
  background-color: #333;
  color: #fff;
}

.RM-Step a {
  color: #aaa;
}
