form {
    margin: 20px 0;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #ccc;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

input[type='text'] {
    padding: 12px 20px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    color: #444;
}

input[type='submit'] {
    background-color: #4CAF50; 
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    font-size: 1.2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
    font-size: 1.2em;
    color: #444;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}
